/* Variables */
:root{
    --primary-color: #2F80ED;
}


/* Global */

body, head{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


/* Header */

.topBar{
    min-height: 20pt;
}

.header-container{
    padding: 20pt;
}

.primary-fill{
    background: var(--primary-color);
}

.logo-container{
    color: var(--primary-color);
    margin-left: 60pt;
    letter-spacing: 1.5pt;
    font-weight: 500;
    font-size: 18pt;
}

.sup-element{
    padding-top: 5pt;
    font-size: 18pt;
}